<template>
  <div class="collection-footer" slot="footer">
    <div class="collection-title" v-if="hasTitle">
      <p v-if="collectionTitle">{{collectionTitle}}</p>
    </div>
    <div class="collection-info-total" v-if="totalPhotos">
      {{totalPhotos}} photos
      <span v-if="hasUsername">
        <span style="font-size:10px"> · </span> Curated by
          {{username}}
      </span>
    </div>
    <div v-if="hasTags" class="collection-info-tags">
      <div v-for="tag in tags" :key="tag.id" class="collection-info-tag-container">
        <span href="#" v-if="tag.title" class="collection-tag">{{tag.title}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    collection: {
      type: Object,
      required: true
    }
  },
  computed: {
    hasTitle () {
      return this.collection.title
    },
    collectionTitle () {
      return this.hasTitle ? this.collection.title : 'Untitle'
    },
    hasPhotosCount () {
      return this.collection.total_photos
    },
    totalPhotos () {
      return this.hasPhotosCount ? this.collection.total_photos : '0'
    },
    hasUsername () {
      return this.collection.user && this.collection.user.name
    },
    username () {
      return this.hasUsername ? this.collection.user.name : 'Unknown'
    },
    hasTags () {
      return this.collection.tags
    },
    tags () {
      return this.hasTags ? this.collection.tags : []
    }
  }
}
</script>

<style scoped>
.collection-footer {
  background-color: #ffffff;
  margin-bottom: 10px;
  width: 100%;
  white-space: nowrap;
}

.collection-title {
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.collection-title p {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.collection-info-total {
  font-size: 14px;
  color: #999;
}
.collection-info-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
  margin-left: -8px;
}
.collection-info-tag-container {
  padding-top: 8px;
  padding-left: 8px;
}
.collection-tag {
  background-color: #f1f1f1;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.1s ease-in-out;
  text-transform: capitalize;
  line-height: 26px;
  height: 26px;
  display: inline-block;
  color: #999;
}

a {
  color: #999;
}
</style>
