<template>
  <router-link :to="href" class="collection-card" style="text-decoration:none">
    <div class="position-relative mb-3 col-md-4 float-left">
      <collection-background v-if="previewPhotos" :previewPhotos="previewPhotos"/>
      <collection-info :collection="collection"/>
    </div>
  </router-link>
</template>

<script>
import CollectionBackground from '@/components/ui/collection/CollectionBackground'
import CollectionInfo from '@/components/ui/collection/CollectionInfo'

export default {
  components: {
    CollectionBackground,
    CollectionInfo
  },
  props: {
    collection: {
      type: Object,
      required: true
    }
  },
  computed: {
    previewPhotos () {
      return this.collection.preview_photos ? this.collection.preview_photos : []
    },
    href () {
      return this.collection.id ? `/collections/${this.collection.id}` : '#'
    }
  }
}
</script>

<style scoped>
.collection-card {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
</style>
