<template>
  <div class="collection-preview">
    <div class="preview-left">
      <div v-if="hasPreview1">
        <img alt=""
          class="collection-preview-image"
          v-if="preview1"
          :src="preview1"
          :key="preview1"
        />
      </div>
    </div>
    <div class="preview-right">
      <div class="preview-right-top">
        <div v-if="hasPreview2">
          <img alt=""
            :v-if="preview2"
            class="collection-preview-image"
            :src="preview2"
            :key="preview2"
          />
          </div>
      </div>
      <div class="preview-right-bottom">
        <div v-if="hasPreview3">
          <img alt=""
            class="collection-preview-image"
            :v-if="preview3"
            :src="preview3"
            :key="preview3"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    previewPhotos: {
      type: Array,
      required: true
    }
  },
  computed: {
    hasPreview1 () {
      return this.previewPhotos[0] && this.previewPhotos[0].urls && this.previewPhotos[0].urls.regular
    },
    hasPreview2 () {
      return this.previewPhotos[1] && this.previewPhotos[1].urls && this.previewPhotos[1].urls.regular
    },
    hasPreview3 () {
      return this.previewPhotos[2] && this.previewPhotos[2].urls && this.previewPhotos[2].urls.regular
    },
    preview1 () {
      return this.hasPreview1 ? this.previewPhotos[0].urls.regular : '@/images/default.jpg'
    },
    preview2 () {
      return this.hasPreview2 ? this.previewPhotos[1].urls.regular : '@/images/default.jpg'
    },
    preview3 () {
      return this.hasPreview3 ? this.previewPhotos[2].urls.regular : '@/images/default.jpg'
    }
  }
}
</script>

<style scoped>
.collection-preview {
  border-radius: 10px;
  height: 300px;
  overflow: hidden;
  display: flex;
}
.collection-preview:hover {
  opacity: 0.8;
}
.preview-left {
  width: 70%;
  position: relative;
  background-color: rgb(224, 223, 223);
}

.preview-right {
  flex-direction: column;
  width: 30%;
  margin-left: 2px;
  display: flex;
}
.preview-right-top {
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  flex-grow: 1;
  margin-bottom: 2px;
  background-color: rgb(224, 223, 223);
}
.preview-right-bottom {
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  flex-grow: 1;
  background-color: rgb(224, 223, 223);
}
a {
  background-color: transparent;
  color: #999;
}
.collection-preview-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  object-fit: cover;
}

img {
  vertical-align: middle;
}
</style>
