<template>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <h1 class="collection-info-title"> {{title}}</h1>
        <div class="collection-info-description">{{description}}</div>
        <div class="collection-author mb-5 mt-3">
          <img
            class="d-flex mr-2 rounded-circle"
            :src="profileImage"
            width="32px" height="32px"
          />
          <div class="card-username">
            <router-link v-if="href && username" style="color:#999;text-decoration:none" :to="href">{{username}}</router-link>
          </div>
        </div>
        <div class="mb-2">{{totalPhotos}} photos</div>
        <card-list v-if="hasImages" :images="images"></card-list>
          <infinite-loading @infinite="infiniteHandler" :spinner="'waveDots'">
            <span slot="no-more">
              No more photos
            </span>
          </infinite-loading>
      </div>
    </div>
  </div>
</template>

<script>
import UserInfo from '@/components/ui/UserInfo'
import CardList from '@/components/ui/CardList'
import InfiniteLoading from 'vue-infinite-loading'
import mixin from '@/mixins/mixin'
export default {
  components: {
    CardList,
    InfiniteLoading,
    UserInfo
  },
  mixins: [mixin],
  data () {
    return {
      images: [],
      title: '',
      description: '',
      user: {},
      totalPhotos: -1
    }
  },
  computed: {
    collectionId () { return this.$route.params.collectionId ? this.$route.params.collectionId : -1 },
    hasProfileImage () {
      return this.profileImage && this.profileImage.small
    },
    hasImages () {
      return this.images.length
    },
    profileImage () {
      return this.user.profile_image && this.user.profile_image.small ? this.user.profile_image.small : '@/images/default.jpg'
    },
    href () {
      return this.user.username ? `/${this.user.username}` : `#`
    },
    username () {
      return this.user.name ? this.user.name : 'unknown'
    }
  },
  methods: {
    infiniteHandler ($state) {
      this.$unsplash
        .getCollectionPhotos(this.currentPage, this.collectionId)
        .then(response => {
          if (!response.data) {
            $state.complete()
            return
          }
          $state.loaded()
          this.images = this.images.concat(response.data)
          this.updateCurrentPage()
        })
        .catch(() => {
          $state.complete()
        })
      this.$unsplash
        .getCollectionInfo(this.currentPage, this.collectionId)
        .then(response => {
          if (!response.data) {
            $state.complete()
            return
          }
          $state.loaded()
          const result = response.data
          this.title = result.title
          this.description = result.description
          this.user = result.user
          this.totalPhotos = result.total_photos
        })
        .catch(() => {
          $state.complete()
        })
    }
  }
}
</script>

<style scoped>
.collection-info-title {
  font-weight: 700;
}
.collection-author {
  position: relative;
  pointer-events: auto;
  display: flex;
  align-items: center;
  width: 100%;
}
</style>
