<template>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <div>
          <div class="text-center mt-3"><h1>Collections</h1></div>
          <div class="text-center mb-3">Beautiful, free pictures of the week<br/>Explore the world through collections of beautiful HD pictures free.</div>
          <div class="text-center mb-5 github">
            <a href="https://github.com/wasd98/unsplashy-vuejs" target="__blank" rel="noopener noreferrer">
              <img src="@/images/github-logo.svg" width="32px" height="32px"/> Github
            </a>
          </div>
          <collection-list v-if="hasCollections" :collections="collections"></collection-list>
          <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading" :spinner="'waveDots'">
            <span slot="no-more">
              No more collections
            </span>
          </infinite-loading>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CollectionList from '@/components/ui/CollectionList'
import InfiniteLoading from 'vue-infinite-loading'
import mixin from '@/mixins/mixin'
export default {
  components: {
    CollectionList,
    InfiniteLoading
  },
  mixins: [mixin],
  data () {
    return { collections: [] }
  },
  computed: {
    hasCollections () {
      return this.collections.length
    }
  },
  methods: {
    infiniteHandler ($state) {
      this.$unsplash.getCollections(this.currentPage).then(response => {
        if (!response.data) {
          $state.complete()
          return
        }
        $state.loaded()
        const result = response.data
        this.collections = this.collections.concat(result)
        this.updateCurrentPage()
      })
        .catch(() => {
          $state.complete()
        })
    }
  }
}
</script>

<style scoped>
.github a {
  text-decoration: none;
  color: #999;
}
</style>
