<template>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <div>
          <div class="text-center mt-3"><h1>Unsplashy</h1></div>
          <div class="text-center mb-3">Beautiful, free photos.<br/>Gifted by the world’s most generous community of photographers.</div>
          <div class="text-center mb-5 github">
            <a href="https://github.com/wasd98/unsplashy-vuejs" target="__blank" rel="noopener noreferrer">
              <img src="@/images/github-logo.svg" width="32px" height="32px"/> Github
            </a></div>
          <card-list v-if="hasImages" :images="images"></card-list>
          <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading" :spinner="'waveDots'">
            <span slot="no-more">
              No more photos
            </span>
          </infinite-loading>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardList from '@/components/ui/CardList'
import InfiniteLoading from 'vue-infinite-loading'
import mixin from '@/mixins/mixin'
export default {
  name: 'home',
  components: {
    CardList,
    InfiniteLoading
  },
  mixins: [mixin],
  data () {
    return { images: [] }
  },
  computed: {
    hasImages () {
      return this.images.length
    }
  },
  methods: {
    infiniteHandler ($state) {
      this.$unsplash.getPhotos(this.currentPage).then(response => {
        if (!response.data) {
          $state.complete()
          return
        }
        $state.loaded()
        const result = response.data
        this.images = this.images.concat(result)
        this.updateCurrentPage()
      })
        .catch(e => {
          console.log(e)
        })
    }
  }
}
</script>

<style scoped>
.github a {
  text-decoration: none;
  color: #999;
}
</style>
