<template>
  <div class="container">
    <div class="mt-5">
      <div class="text-center mt-3"><h1>Unsplashy</h1></div>
      <div class="text-center mb-3">Beautiful, free photos.<br/>Gifted by the world’s most generous community of photographers.</div>
      <div class="text-center mb-5 github">
        <a href="https://github.com/wasd98/unsplashy-vuejs" target="__blank" rel="noopener noreferrer">
          <img src="@/images/github-logo.svg" width="32px" height="32px"/> Github
        </a>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="auth-container">
            <div class="auth-header">
              Login
            </div>
            <div class="auth-body">
              <form>
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" v-model="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" v-model="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <span class="ml-2 switch-auth"><router-link to="register">Do not have an account? Register here</router-link></span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      username: '',
      password: ''
    }
  }
}
</script>

<style scoped>
.auth-container {
  border: 1px solid #cccccc;
  box-shadow: -1px 1px #d6d6d6;
  padding: 1em;
}

.auth-header {
  font-size: 30px;
  font-weight: 600;
  color: #474747;
  text-align: center;
}

.auth-body {
  padding: 1em 2em;
}

.switch-auth {
  font-size: 12px;
}
</style>
