<template>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <div>
          <div class="text-center mb-5">
            <h1 class="mb-3">{{searchText}}</h1>
            <router-link style="color:#999;text-decoration:none;font-size:20px" :to="searchPhotos"> Photos | </router-link>
            <router-link style="color:#000;text-decoration:none;font-size:20px" :to="searchCollections">Collections</router-link>
          </div>
          <collection-list v-if="hasCollections" :collections="collections"></collection-list>
          <infinite-loading @infinite="infiniteHandler" ref="infiniteLoading" :spinner="'waveDots'">
            <span slot="no-more">
              No more collections
            </span>
          </infinite-loading>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CollectionList from '@/components/ui/CollectionList'
import InfiniteLoading from 'vue-infinite-loading'
import mixin from '@/mixins/mixin'
export default {
  components: {
    CollectionList,
    InfiniteLoading
  },
  mixins: [mixin],
  data () {
    return {
      collections: [],
      query: this.$route.params.query
    }
  },
  watch: {
    '$route' (to, from) {
      this.query = this.$route.params.query
    }
  },
  computed: {
    searchText () {
      return this.$route.params.query ? this.$route.params.query : 'Unknown text'
    },
    hasCollections () {
      return this.collections.length
    },
    searchPhotos () {
      return `/search/photos/${this.query}`
    },
    searchCollections () {
      return `/search/collections/${this.query}`
    }
  },
  methods: {
    infiniteHandler ($state) {
      this.$unsplash
        .searchCollections(this.currentPage, this.query)
        .then(response => {
          if (!response.data) {
            $state.complete()
            return
          }
          $state.loaded()
          const result = response.data.results
          this.collections = this.collections.concat(result)
          this.updateCurrentPage()
        })
        .catch(() => {
          $state.complete()
        })
    }
  }
}
</script>

<style scoped>
</style>
