<template>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-12">
        <div v-if="user">
          <user-info :user="user"></user-info>
          <p v-if="hasTotalPhotos">{{totalPhotos}} photos</p>
        </div>
        <card-list :images="images"></card-list>
        <infinite-loading @infinite="infiniteHandler" :spinner="'waveDots'">
          <span slot="no-more">
            No more photos
          </span>
        </infinite-loading>
      </div>
    </div>
  </div>
</template>

<script>
import UserInfo from '@/components/ui/UserInfo'
import CardList from '@/components/ui/CardList'
import InfiniteLoading from 'vue-infinite-loading'
import mixin from '@/mixins/mixin'
export default {
  components: {
    CardList,
    InfiniteLoading,
    UserInfo
  },
  mixins: [mixin],
  data () {
    return {
      images: [],
      username: this.$route.params.username,
      user: {}
    }
  },
  computed: {
    hasTotalPhotos () { return this.user.total_photos },
    totalPhotos () { return this.hasTotalPhotos ? this.user.total_photos : -1 }
  },
  methods: {
    infiniteHandler ($state) {
      this.$unsplash
        .getUserPhotos(this.username, this.currentPage)
        .then(response => {
          if (!response.data) {
            $state.complete()
            return
          }
          $state.loaded()
          const result = response.data
          this.user = result[0].user
          this.images = this.images.concat(result)
          this.updateCurrentPage()
        })
        .catch(() => {
          $state.complete()
        })
    }
  }
}
</script>
