<template>
  <div class="container">
    <div v-if="hasImage" class="card-image position-relative mb-3" @click.prevent="showCardDetail">
      <img v-if="image" :src="image" alt="image" class="image"/>
      <div class="image-placeholder">
        <img v-if="!image" src="@/images/default.jpg" alt="image" class="image"/>
      </div>
      <card-info
        v-if="hasInfo"
        class="image-footer"
        :likes="likes"
        :user="user">
      </card-info>
    </div>
    <div v-else class="card-image position-relative mb-3"></div>
    <modal :name="imageProp.id" class="image-detail" width="70%" height="auto" :scrollable="true">
      <card-detail :image-prop="imageProp"></card-detail>
    </modal>
  </div>
</template>

<script>
import CardInfo from '@/components/ui/card/CardInfo'
import CardDetail from '@/components/ui/card/CardDetail'

export default {
  data () {
    return {
      showDetail: false
    }
  },
  components: {
    CardInfo,
    CardDetail
  },
  props: {
    imageProp: {
      type: Object,
      required: true
    }
  },
  computed: {
    hasImage () {
      return this.imageProp.urls && this.imageProp.urls.regular
    },
    image () {
      return this.hasImage ? this.imageProp.urls.regular : '@/images/default.jpg'
    },
    hasInfo () {
      return this.imageProp.likes && this.imageProp.user
    },
    likes () {
      return this.imageProp.likes ? this.imageProp.likes : 0
    },
    user () {
      return this.imageProp.user ? this.imageProp.user : {}
    }
  },
  methods: {
    showCardDetail () {
      this.$modal.show(this.imageProp.id)
    }
  }
}
</script>

<style scoped>
.image {
  width: 100%;
  background: #999;
  min-height: 200px;
}
.image-footer {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0,
    transparent 40%,
    transparent 60%,
    rgba(0, 0, 0, 0.3)
  );
  position: absolute;
  bottom: 0;
}
.card-image .image-footer {
  visibility: hidden;
}
.card-image:hover .image-footer {
  visibility: visible;
  animation: fadein 0.3s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
