<template>
  <div>
    <div class="detail">
      <div class="image-container">
        <div v-if="hasImage">
          <img v-if="image" :src="image" alt="image" class="image"/>
          <div class="image-placeholder">
            <img v-if="!image" src="@/images/default.jpg" alt="image" class="image"/>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="card-author mt-3">
          <img
            class="d-flex mr-2 rounded-circle float-left"
            :src="profileImage"
            width="36px" height="36px"
          />
          <div class="card-username">
            <router-link style="color:#000;text-decoration:none" :to="href">{{username}}</router-link>
          </div>
        </div>
        <hr>
        <div class="card-description">
          <strong>Description:</strong><p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, fuga!</p>
        </div>
        <hr>
        <div class="card-like">
          <img :src="unlike" width="23" height="23">
          <span class="ml-1">{{likes}}</span>
        </div>
        <hr>
        <div class="card-comment">
          <input type="text" class="form-control comment" placeholder="Write comment ...">
          <div class="button-post">Post</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import like from '@/assets/like.svg'
import unlike from '@/assets/unlike.svg'
export default {
  props: {
    imageProp: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      like,
      unlike
    }
  },
  computed: {
    hasImage () {
      return this.imageProp.urls && this.imageProp.urls.full
    },
    image () {
      return this.hasImage ? this.imageProp.urls.full : '@/images/default.jpg'
    },
    likes () {
      return this.imageProp.likes ? this.imageProp.likes : 0
    },
    hasProfileImage () {
      return this.imageProp.user.profile_image && this.imageProp.user.profile_image.small
    },
    profileImage () {
      return this.hasProfileImage ? this.imageProp.user.profile_image.small : '@/images/default/jpg'
    },
    username () {
      return this.imageProp.user.name ? this.imageProp.user.name : 'unknown'
    },
    href () {
      return this.imageProp.username ? `/photos/${this.imageProp.user.username}` : '#'
    }
  }
}
</script>

<style scoped>
.detail {
  display: flex;
}
.image-container {
  width:70%;
}
.image {
  width: 100%;
  background: #999;
  min-height: 200px;
}
.card-author {
  display: inline-block;
  margin-left: 1em;
}
.card-username {
  font-size: 15px;
  float: left;
}

.card-description {
  margin: 1em 0 0 1em;
  font-size: 15px;
}

.info {
  width: 30%;
}

.card-like {
  margin-left: 1em;
  cursor: pointer;
  margin-bottom: 1em;
}

.card-comment {
  margin:0 1em 1em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment {
  border-radius: 100px;
  margin-right: 0.5em;
  height: 2em;
}

.form-control:focus {
  outline: none;
}

.button-post {
  cursor: pointer;
  color: #0093f5;
}
</style>
