<template>
  <div>
    <div class="card-author">
      <img
        class="d-flex mr-2 rounded-circle float-left"
        :src="profileImage"
        width="32px" height="32px"
      />
      <div class="card-username">
        <router-link style="color:#ffffff;text-decoration:none" :to="href">{{username}}</router-link>
      </div>
    </div>
    <div class="card-like text-center align-middle text-muted">
      <p><img src="@/images/like.svg" width="14px" height="14px" v-if="likes"/> {{likes}}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    likes: {
      type: Number,
      required: true
    },
    user: {
      type: Object,
      required: true
    }
  },
  computed: {
    hasProfileImage () {
      return this.user.profile_image && this.user.profile_image.small
    },
    profileImage () {
      return this.hasProfileImage ? this.user.profile_image.small : '@/images/default/jpg'
    },
    username () {
      return this.user.name ? this.user.name : 'unknown'
    },
    href () {
      return this.username ? `/photos/${this.user.username}` : '#'
    }
  }
}
</script>
<style scoped>
.card-like {
  width: 60px;
  height: 30px;
  background-color: hsla(0, 0%, 100%, 0.85);
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  vertical-align: middle;
}
.card-author {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline;
}
.card-username {
  font-size: 14px;
  float: left;
}
</style>
