<template>
  <div id="app">
    <navbar></navbar>
    <router-view class="mt-5"/>
  </div>
</template>

<script>
import Navbar from '@/components/ui/Navbar'
export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>
