<template>
  <div class="row">
    <div class="col-md-4" v-if="hasImgCol1">
      <card-image
        v-for="image in imgCol1"
        :imageProp="image"
        :key="image.id">
      </card-image>
    </div>
    <div class="col-md-4" v-if="hasImgCol2">
      <card-image
        v-for="image in imgCol2"
        :imageProp="image"
        :key="image.id">
      </card-image>
    </div>
    <div class="col-md-4" v-if="hasImgCol3">
      <card-image
        v-for="image in imgCol3"
        :imageProp="image"
        :key="image.id">
      </card-image>
    </div>
  </div>
</template>

<script>
import CardImage from '@/components/ui/card/Card'
export default {
  components: {
    CardImage
  },
  props: {
    images: {
      type: Array,
      required: true
    }
  },
  computed: {
    listImages () {
      let imgCol3 = []
      let imgCol2 = []
      let imgCol1 = []
      this.images.map((image, index) => {
        if ((index + 1) % 3 === 0) return imgCol3.push(image)
        if ((index + 1) % 3 === 1) return imgCol2.push(image)
        if ((index + 1) % 3 === 2) return imgCol1.push(image)
      })
      return {imgCol3, imgCol2, imgCol1}
    },
    hasImgCol1 () {
      return this.listImages && this.listImages.imgCol1.length
    },
    hasImgCol2 () {
      return this.listImages && this.listImages.imgCol2.length
    },
    hasImgCol3 () {
      return this.listImages && this.listImages.imgCol3.length
    },
    imgCol1 () {
      return this.hasImgCol1 ? this.listImages.imgCol1 : []
    },
    imgCol2 () {
      return this.hasImgCol2 ? this.listImages.imgCol2 : []
    },
    imgCol3 () {
      return this.hasImgCol3 ? this.listImages.imgCol3 : []
    }
  }
}
</script>
<style scoped>
</style>
