<template>
  <div v-if="hasCollections">
    <card-collection
      class=" border-0"
      v-for="collection in collections"
      :collection="collection"
      :key="collection.id">
    </card-collection>
  </div>
</template>

<script>
import CardCollection from '@/components/ui/collection/CollectionCard'
export default {
  components: {
    CardCollection
  },
  props: {
    collections: {
      type: Array,
      required: true
    }
  },
  computed: {
    hasCollections () {
      return this.collections.length
    }
  }
}
</script>
