<template>
  <div class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-brand">
      <router-link to="/">
        <img :src="logo" class="navbar_logo" />
      </router-link>
    </div>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#nav_collapse"
      aria-controls="nav_collapse"
      aria-expanded="true"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-auto" id="nav_collapse">
      <input v-model="search"
        class="search-bar"
        type="text"
        placeholder="Search free high-resolution photos"
        @keyup.enter="goSearch"/>
      <ul class="navbar-nav">
        <li class="nav-item">
          <router-link class="nav-link" style="color:#999;text-decoration:none" to="/">Home</router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" style="color:#999;text-decoration:none" to="/collections">Collections</router-link>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav">
      <li><router-link class="nav-link" style="color:#999;text-decoration:none" to="/user/login">Login</router-link></li>
      <li><router-link class="nav-link" style="color:#999;text-decoration:none" to="/user/register">Register</router-link></li>
    </ul>
  </div>
</template>

<script>
import Logo from '@/assets/logo-svg.svg'
import BlankUser from '@/assets/blank-user.svg'

export default {
  data () {
    return {
      logo: Logo,
      blankUser: BlankUser,
      search: ''
    }
  },
  methods: {
    goSearch () {
      return this.search && this.search !== ''
        ? this.$router.push(`/search/photos/${this.search}`)
        : this.$router.push(`#`)
    }
  }
}
</script>

<style scoped>
.navbar_logo {
  width: 32px;
}
nav {
  box-shadow: inset 0 -2px transparent;
}
.search-bar {
  width: 60vw;
  border: 0px solid #999;
  border-radius: 500px;
  outline: none;
  padding: 4px;
  padding-left: 10px;
}

.search-bar:focus {
  border: 1px solid #999;
}
</style>
