<template>
  <div class="user-profile-container">
    <div v-if="hasProfileImage" class="user-profile-left mb-2">
      <img alt="images"
        class="rounded-circle user-profile-avatar float-right"
        :src="profileImage"
      />
    </div>
    <div class="user-profile-right">
      <div class="user-profile-name">{{username}}</div>
      <div class="user-profile-address">
        <div class="user-profile-country">
          {{userLocation}}
        </div>
        <div class="user-profile-social">
          {{portfolio}}
        </div>
      </div>
      <div class="user-profile-bio">
        <p>{{bio}}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  computed: {
    hasProfileImage () {
      return this.user && this.user.profile_image && this.user.profile_image.large
    },
    profileImage () {
      return this.hasProfileImage ? this.user.profile_image.large : '@/images/default.jpg'
    },
    username () {
      return this.user.name ? this.user.name : 'unknown'
    },
    userLocation () {
      return this.user.location ? this.user.location : 'No location'
    },
    portfolio () {
      return this.user.portfolio_url ? this.user.portfolio_url : 'no portfolio'
    },
    bio () {
      return this.user.bio ? this.user.bio : 'no bio yet'
    }
  }
}
</script>

<style scoped>
.user-profile-container {
  display: flex;
  padding-top: 16px;
  padding-left: 24px;
}
.user-profile-left {
  width: 33.33333%;
}
.user-profile-avatar {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  vertical-align: middle;
  background-color: rgba(0, 0, 0, 0.1);
}
.user-profile-right {
  width: 66.66667%;
  padding-top: 16px;
  padding-left: 24px;
}
.user-profile-name {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}
.user-profile-address {
  word-break: break-all;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: -8px;
  margin-left: -24px;
}
.user-profile-country {
  padding-top: 8px;
  padding-left: 24px;
  min-width: 0;
}
a:hover {
  text-decoration: none;
}
a {
  color: #999;
  transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.user-profile-social {
  padding-top: 8px;
  padding-left: 24px;
  min-width: 0;
}
.user-profile-bio {
  max-width: 70%;
  padding-top: 16px;
}
</style>
